.footerContainer {
    display: flex;
    height: 400px;
    background-color: aqua;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}


/* .footer_container {
    display: flex;
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #f7f7f7;
} */

.footer_elements{
    display: flex;
    position: relative;
    height: 100%;
  
}
