.form_div {
    display: flex;
    position: relative;
    flex-direction: column;
}

.spot_form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit_btn_div {
    display: flex;
    position: relative;
    justify-content: center;
}
