.review_box {
    border-top: 0.5 solid black ;

}

.reviews_component {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
}

.create_review_container{
    display: flex;
    position: relative;
    flex-direction: column;
}

.create_review_form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating_container{
    display: flex;
    position: relative;
    flex-direction: row;
}

#select_rating{
    display: flex;
    position: relative;

}

.posted_reviews_container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 40em);
    width: 100%;
    /* grid-auto-flow: row dense; */
    left: 5%;
}

.single_review {
    display: grid;
    max-width: 500px;
    border: black solid 1px;
    margin-bottom: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #e5e5e5;

}



.review_edit_delete_btn{
    display: flex;
    flex-direction: row;
}
